# Ignore raw and cleaned EEG data folders
data/cleaned/
data/config/
data/IED_selection
data/raw/
Results/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore VS Code workspace settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
